@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&family=Yuji+Syuku&display=swap');

body {
    padding: 0px;
    margin: 0px;
    background-image: url('images/vhs_artifacts_by_samblye1-d4doj23.gif');
    color: whitesmoke;
    text-align: center;
    font-size: 20px;
}

body{
    cursor: url('cursors/Wii Pointer.cur'), progress !important;
}

body a:hover{
    cursor: url('cursors/Wii Pointer Blue.cur'), progress !important;
}

.construction{
    font-family: "Yuji Syuku", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
}

.construction2 {
    font-family: "Shippori Mincho", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
  }
  

.center {
    margin-left: auto;
    margin-right: auto;
}