@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&family=Yuji+Syuku&display=swap');

body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-image: url('images/東北大震災vhs.gif');
    color: whitesmoke;
    text-align: center;
    font-size: 19px;
}

h2 {
    font-size: 19px;
    font-weight: bold;
}

body {
    cursor: url('cursors/Wii Pointer.cur'), progress !important;
}

body a:hover {
    cursor: url('cursors/Wii Pointer Blue.cur'), progress !important;
}

.construction {
    font-family: "Yuji Syuku", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
}

.construction2 {
    font-family: "Shippori Mincho", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
}


.center {
    margin-left: auto;
    margin-right: auto;
}
