body{
    padding: 0;
    margin: 0;
    background-color: #000000;
    color: #FFFFFF;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 3px;
}

img {
    margin-left: auto;
    margin-right: auto;
    border: 0;
    overflow-clip-margin: content-box;
    overflow: clip;
}

hr {
    width: 410px;
}

a:link {
    color: dodgerblue;
    text-decoration: none;
}

a:visited{
    color: dodgerblue;
}

.center {
    text-align: center;
}

.tmid {
    margin: 0px auto;
}

.navigation {
    width: 410px;
    height: 50px;
    position: fixed;
    z-index: 500;
    top: 70%;
    left: -105px;
    margin-top: -60px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 2px;
}
